<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品管理系统后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="__STATIC__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__PUB__/css/font.css">
    <link rel="stylesheet" href="__PUB__/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="__PUB__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__PUB__/js/xadmin.js"></script>

</head>
<body onload="loading()">
<div class="login-logo"><h1>商品管理系统后台</h1></div>
<div class="login-box">
       
    <form class="layui-form layui-form-pane" action="{:url('@admin/login/dologin')}" method="post" onSubmit="return legalCheck();">

        <h3>登录你的帐号</h3>
        <label class="login-title" for="username">帐号</label>
        <div class="layui-form-item">
            <label class="layui-form-label login-form"><i class="iconfont">&#xe6b8;</i></label>
            <div class="layui-input-inline login-inline">
                <input type="text" name="username" id="username" lay-verify="required" placeholder="请输入你的帐号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <label class="login-title" for="password">密码</label>
        <div class="layui-form-item">
            <label class="layui-form-label login-form"><i class="iconfont">&#xe82b;</i></label>
            <div class="layui-input-inline login-inline">
                <input type="password" name="password" lay-verify="required" placeholder="请输入你的密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        
        <label class="login-title" for="yzm">验证码</label>
        <img src="{:captcha_src()}" alt=""  class="passcode" style="height:43px;cursor:pointer;width: 130px;height: 40px;margin-left: 75px;" onclick="this.src=this.src+'?'">
        <div class="layui-form-item">
            <label class="layui-form-label login-form"><i class="iconfont">&#xe82b;</i></label>
            <div class="layui-input-inline login-inline">
                <input type="text" name="code" id="yzm" lay-verify="required" placeholder="看不清 请点击图片更换" class="layui-input">
            </div>
        </div>
        
        <div class="form-actions">
            <button class="btn" lay-submit lay-filter="login"  type="submit">登录</button>

        </div>
    </form>
</div>
        <script>
        function legalCheck(){
            var pwdRegex = new RegExp('(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[^a-zA-Z0-9]).{8,30}');
            var usernameRegex = new RegExp('^[a-zA-Z\u4e00-\u9fa5]+$');
            var name=document.getElementById("username").value;
            var psd=document.getElementById("password").value;
            var yzm=document.getElementById("yzm").value;
            var skip=true;
            if(!usernameRegex.test(name)||name.length>10){
                alert("您的用户名不符合规范！");
                skip=false;
                return false;
            }else if(!pwdRegex.test(psd)){
                alert("您的密码错误！");
                skip=false;
                return false;
            }else if(yzm.length!=5){
                alert("您的验证码错误！");
                skip=false;
                return false;
            }if(skip){
                return true;
            }
        }
        </script>
        
<div class="bg-changer">
    <div class="swiper-container changer-list">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="item" src="__PUB__/images/a.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/b.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/c.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/d.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/e.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/f.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/g.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/h.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/i.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/j.jpg" alt=""></div>
            <div class="swiper-slide"><img class="item" src="__PUB__/images/k.jpg" alt=""></div>
            <div class="swiper-slide"><span class="reset">初始化</span></div>
        </div>
    </div>
    <div class="bg-out"></div>
    <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
</div>

</body>
</html>